<div class="row app-header">
  <div class="col-4 d-md-none nopadding">
    <div class="col-12 codewars codewars-sm small-box">
      <a href="https://www.codewars.com/users/Woitaseczq" class="codewars-link" target="_blank">
        <i class="fas fa-code"></i>
      </a>
    </div>
    <div class="col-12 github github-sm small-box">
      <a href="https://github.com/WGolon?tab=repositories" class="github-link" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
    </div>
  </div>
  <div class="col-8 photo d-md-none nopadding">

  </div>
  <div class="col-md-8 main-info">
    <div class="row dev-name">
      <div class="col-sm-10 name">
        <h1 class="my-name mx-auto">Wojciech Golonka</h1>
      </div>
      <div class="col-sm-2 codewars small-box d-none d-md-block">
        <a href="https://www.codewars.com/users/Woitaseczq" class="codewars-link" target="_blank">
          <i class="fas fa-code"></i>
        </a>
      </div>
    </div>

    <div class="row dev-position">
      <div class="col-sm-10 position">
        <h2 class="my-name mx-auto">Junior Frontend Developer</h2>
      </div>
      <div class="col-sm-2 github small-box d-none d-md-block">
        <a href="https://github.com/WGolon?tab=repositories" class="github-link" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>

    <div class="row navigation-boxes">
      <div class="col-4 nav-box small-box">
        <a routerLink="/" class="nav-home">
          <i class="fas fa-home"></i>
          <span class="nav-info"> Home </span>
        </a>
      </div>
      <div class="col-4 nav-box small-box">
        <a class="nav-CV"  href="../assets/Wojciech_Golonka_CV.pdf" download>
          <i class="fas fa-user-check"></i>
          <span class="nav-info">Download CV</span>
        </a>
      </div>
      <div class="col-4 nav-box small-box">
        <a routerLink="/portfolio" class="nav-portfolio">
          <i class="fas fa-briefcase"></i>
          <span class="nav-info"> Portfolio </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4 photo d-none d-md-block">
  </div>
</div>
