<div class="row">
  <div class="col-md-12">
    <div class="p-5">
      <h2> My projects overview </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="tile tile-1">
      <img src="../../assets/zdj1.png" alt="" class="image">
      <div class="links-section">
        <a href="" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="tile tile-1">
      <img src="../../assets/zdj2.png" alt="" class="image">
      <div class="links-section">
        <a href="" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="tile tile-1">
      <img src="../../assets/zdj3.png" alt="" class="image">
      <div class="links-section">
        <a href="" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tile tile-1">
      <img src="../../assets/zdj4.png" alt="" class="image">
      <div class="links-section">
        <a href="" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>
</div>
