<div class="row overview-row">
  <div class="col-md-12 section-header">
    <div class="p-2">
      <h2 class="section-heading"> My projects overview </h2>
    </div>
  </div>
</div>
<div class="row p-2">
  <div class="col-md-6">
    <div class="tile tile-1">
      <div class="tile-info-box">
        <p class="tile-info">
          Here you can easily search for new recipes, add them to favourites, make the shopping list and then generate pdf file.
        </p>
      </div>
      <img src="../../assets/zdj1.png" alt="" class="image">
      <div class="links-section">
        <a href="https://github.com/WGolon/Food-AP" target="bank" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://wgolon.github.io/Food-AP/?fbclid=IwAR3OcttlHdqZjZGkBOvltM-hissMgRbQXG8o5PvvXz1HxqsHDrncz1DJ8_Q" target="bank" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="tile tile-2">
      <div class="tile-info-box">
        <p class="tile-info">
          Fullstack application for betting results of football matches within small groups of friends. Rules and logic is  described in app's user panel.
           <br> <br>
          CREDENTIALS: interviewAdmin/Admin123
        </p>
      </div>
      <img src="../../assets/zdj2.png" alt="" class="image">
      <div class="links-section">
        <a href="https://github.com/WGolon/Footgamble-frontend" target="blank" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://test.footgamble.woost.pl/" target="blank" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="tile tile-3">
      <div class="tile-info-box">
        <p class="tile-info">
          One of the layout-coding challenges based on the provided psd file - more information on github.
        </p>
      </div>
      <img src="../../assets/zdj3.png" alt="" class="image">
      <div class="links-section">
        <a href="https://github.com/WGolon/WeeklyWebdev_1"  target="blank" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://wgolon.github.io/WeeklyWebdev_1/" target="blank" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="tile tile-4">
      <div class="tile-info-box">
        <p class="tile-info">
          One of the layout-coding challenges based on the provided psd file - more information on github.
        </p>
      </div>
      <img src="../../assets/zdj4.png" alt="" class="image">
      <div class="links-section">
        <a href="https://github.com/WGolon/WeeklyWebdev_2" target="blank" class="github-link link">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://wgolon.github.io/WeeklyWebdev_2/" target="blank" class="live-link link">
          <i class="fas fa-camera-retro"></i>
        </a>
      </div>
    </div>
  </div>
</div>
