

.container  {
  max-width: 1200px;
  min-height: calc(100vh - 10px);
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0;
  background-color: teal;
}

.download-CV {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px;
  &:hover {
    color: rgb(201, 201, 201);
  }
}

.row {
  display: flex;
  justify-content: center;
  min-height: 40px;
  background-color: #1d1d1d;
}

.footer {
  .row {
    .signature {
      display: flex;
      align-items: center;
      margin:0;
      color: #fff;
      vertical-align: middle;
    }
  }
}


