@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

html {
  background: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background-color: transparent !important;
}

app-root {
  background-color: red;
}
  h1, h2, h3, h4 {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
  }

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

* {
  box-sizing: border-box !important;
}
