      <div class="row outer-row">
        <div class="col-md-8 nopadding">

          <div class="p-4">
            <div class="row">
              <div class="col-md-12 interests-col">
                <h1 class="my-interests"> MY INTERESTS AND HOBBIES</h1>
                <p class="interests-details"> I LIKE VARIOUS FORMS OF PROGRAMMING AND WEB DEVELOPMENT </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3">
                    <i class="fa fa-bars" ></i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9 interest-box">
                    <h4 class="interest-name"> SPA </h4>
                      <p>
                        In Single Page Applications there is no need to refresh the app when user navigates across different sections
                      </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3">
                    <i class="fa fa-cogs">  </i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9">
                    <h4> ALGORITHMS </h4>
                    <p>It is important to think about efficiency and performance of code. I like to challenge myself on sites like "codewars".</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3">
                    <i class="fa fa-database"></i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9">
                    <h4> DATA MINING </h4>
                    <p> Extracting information from database requires different methods depending on the size and type of data. </p>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>

         <div class="col-md-4 nopadding">
          <div class="personal-info p-5">
            <h2> Personal Info </h2>

            <div class="info-box">
              <div class="full-width">
                <p>Name:</p>
                <p> Wojciech Golonka</p>
              </div>
              <div class="full-width">
                <p>Birth Date:</p>
                <p> 17.04.1994</p>
              </div>
              <div class="full-width">
                <p>Address:</p>
                <p> Cracow, Poland</p>
              </div>
              <div class="full-width">
                <p>Phone:</p>
                <p> 505 926 527</p>
              </div>
              <div class="full-width">
                <p>Email</p>
                <p> golonkawojciech1@gmail.com</p>
              </div>
            </div>
          </div>
    </div>
  </div>

    <div class="row outer-row">
      <div class="col-md-4 nopadding">
        asd
      </div>

      <div class="col-md-8 nopadding">
asd
      </div>
    </div>



