.outer-row {
  //max-height: 360px;
  min-height: 320px;
}

.interest-item {
  .row {
    .col-icon {
      color:  rgb(19, 109, 211);
      font-size: 1.8rem;
    }
  }
}

.interest-name {
  font-size: 1.1rem;
  font-weight: bold;
}


.first-section {
  background-color: rgb(185, 185, 185);
}
.second-section {
  height: 100%;
  //background-color: rgb(146, 146, 146);
  background-color: rgb(196, 196, 196);
}

.section-header {
  margin-bottom: 30px;
  text-align: center;
}

.third-section {
  background-color: rgb(211, 211, 211);
}
.fourth-section {
  background-color: rgb(167, 167, 167);
}

.small-box {
  width: 80%;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.personal-info {
  width: 100%;;
}


.info-box {
  width: fit-content;
  margin: 0 auto;
  .full-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      display: inline-block;
      font-size: 1rem;
      &:nth-of-type(1) {
        width: 35%;
        margin-right:10px;
        text-transform: uppercase;
        font-weight: bold;
      }
      &:nth-of-type(2) {
        width: 65%;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   i {
    font-size: 4rem;
  }
}

.technology-heading {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.fa-js-square {
  color: rgb(255, 230, 0);
}

.fa-angular {
  color: rgb(243, 40, 40);
}

.fa-chart-area {
  color: rgb(19, 109, 211);
}
