      <div class="row outer-row">
        <div class="col-lg-8 first-section nopadding">

          <div class="p-4 p-md-5 p-lg-4">
            <div class="row">
              <div class="col-lg-12 interests-col">
                <h3 class="my-interests"> MY INTERESTS AND HOBBIES</h3>
                <p class="interests-details"> I LIKE VARIOUS FORMS OF PROGRAMMING AND WEB DEVELOPMENT </p>
              </div>
            </div>

            <div class="row" >
              <div class="col-lg-4 p-4 p-md-2 p-lg-0 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3 col-icon text-md-right">
                    <i class="fa fa-bars" ></i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9 interest-box">
                    <h4 class="interest-name"> SPA </h4>
                      <p>
                        Single Page Applications provide great user experience mainlny becouse the page doesn't need to be reoladed.
                      </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 p-4 p-md-2 p-lg-0 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3 col-icon text-md-right">
                    <i class="fa fa-cogs">  </i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9">
                    <h4 class="interest-name"> ALGORITHMS </h4>
                    <p> It is important to ask yourself if the solution is efficent and if it can be better. I like to improve my problem-solving skills on sites like "codewars"</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 p-4 p-md-2 p-lg-0 interest-item">
                <div class="row">
                  <div class="col-xs-12 col-md-1 col-lg-3 col-icon text-md-right">
                    <i class="fa fa-database"></i>
                  </div>
                  <div class="col-xs-12 col-md-11 col-lg-9">
                    <h4 class="interest-name"> DATA MINING </h4>
                    <p> Extracting information from database requires different methods depending on the size and type of data. </p>
                  </div>
                </div>
              </div>
            </div>
           </div>
          </div>

         <div class="col-lg-4 nopadding">
          <div class="personal-info second-section p-5 p-lg-4">
            <h3 class="section-header"> PERSONAL INFO </h3>

            <div class="info-box">
              <div class="full-width">
                <p>Name:</p>
                <p> Wojciech Golonka</p>
              </div>
              <div class="full-width">
                <p>Birth Date:</p>
                <p> 17.04.1994</p>
              </div>
              <div class="full-width">
                <p>Address:</p>
                <p> Cracow, Poland</p>
              </div>
              <div class="full-width">
                <p>Phone:</p>
                <p> 505 926 527</p>
              </div>
              <div class="full-width">
                <p>Email:</p>
                <p> golonkawojciech1@gmail.com</p>
              </div>
            </div>
          </div>
    </div>
  </div>

    <div class="row outer-row">
      <div class="col-lg-4 third-section nopadding">
        <div class="personal-info  p-5 p-lg-4">
          <h3 class="section-header"> ABOUT ME </h3>

          <div class="info-box">
            <div class="full-width">
              <p>Status:</p>
              <p> Open to offers</p>
            </div>
            <div class="full-width">
              <p>Educatioin:</p>
              <p> Master degree - Automatics and Robotics</p>
            </div>
            <div class="full-width">
              <p>Mobility:</p>
              <p> To be Discussed</p>
            </div>
            <div class="full-width">
              <p>Languages:</p>
              <p> English B2/C1</p>
            </div>
            <div class="full-width">
              <p>Position: </p>
              <p> Javascript/Web Developer </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-8 fourth-section">
        <div class="technologies-wrapper p-4">
          <h3 class="section-header"> FAVOURITE TECHNOLOGIES </h3>

          <div class="row">
            <div class="col-md-4">
              <div class="content-wrapper">
                <i class="fab fa-js-square"></i>
                <h4 class="technology-heading"> JavaScript </h4>
                <p class="main-text"> Powerful language which gives a lot of freedom. It can be used on both client and server side </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content-wrapper">
                <i class="fab fa-angular"></i>
                <h4 class="technology-heading"> Angular </h4>
                <p class="main-text"> Powerful language which gives a lot of freedom. It can be used on both client and server side </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content-wrapper">
                <i class="fas fa-chart-area"></i>
                <h4 class="technology-heading"> D3.js </h4>
                <p class="main-text"> Powerful language which gives a lot of freedom. It can be used on both client and server side </p>
              </div>
          </div>
        </div>
      </div>
    </div>



